.form {
  text-align: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #ad5502;
}
